<!DOCTYPE html>
<html lang="en">
  <head>
    <title>American - British English Translator</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css">
  </head>
  <body>
    <header>
      <h2>American - British English Translator</h2>
    </header>
    <main>
      <div id="input-container">
        <input type="text" id="text-input">
        <select id="locale-input">
          <option value="american-to-british">American -> British</option>
          <option value="british-to-american">British -> American</option>
        </select>
        <button type="button" id="translate-btn">Translate</button>
      </div>
      <div id="output-container">
      </div>
    </main>
    <script src="/public/index.js">
    </script>
  </body>
</html>