<!DOCTYPE html>
<html lang="en">
  <head>
    <title>American - British English Translator</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style.css">
  </head>
  <body>
    <header>
      American - British English Translator
    </header>
    <main>
      <textarea id="text-input" placeholder="I left my cleats at the bar"></textarea>
      <select id="locale-input">
        <option value="american-to-british">American -> British</option>
        <option value="british-to-american">British -> American</option>
      </select>
      <button type="button" id="translate-btn">Translate</button>
      <div id="output-container">I left my football boots at the pub
      </div>
    </main>
    <script src="/public/index.js">
    </script>
  </body>
</html>